button{
    margin:3px;
    border-radius: 7px;
    height: 30px;
    font-size: 18px;
}
#monster-container{
    overflow:hidden;
    height: 230px;
    width:auto;
}
.face{
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    background: brown;
    border-radius: 100px 100px 30px 30px;
    height: 150px;
    width: 120px;
    /* transform: translateY(-30px); */
}

#left-eye{
    background: black;
    display:inline-block;
    border-radius: 30px;
    height: 15px;
    width: 15px;
    transform: translate(30px, 25px);
}
#right-eye{
    background: black;
    display:inline-block;
    border-radius: 30px;
    height: 15px;
    width: 15px;
    transform: translate(55px, 25px);
}
#mouth{
    background:black;
    display: inline-block;
    border-radius: 0px 0px 50px 50px;
    height: 12px;
    width: 70px;
    transform: translate(-15px,70px);
}
.segment{
    display: inline-block;
    position: relative;
    top: 135px;
    margin-left: -30px;
    border-radius: 50px;
    height: 90px;
    width: 90px;
}

.dance {
    transform: translate(5px,120px);
}

.orc-forge{
    background:olivedrab;
}
.steel{
    background: rgb(108, 141, 168);
}
.copper{
    background: rgba(223, 120, 4);
}
.gold{
    background: rgb(248, 209, 37);
} 
.cobalt{
    background: rgba(16, 16, 161);
}